<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="default" connectionString="Server=.;Database=DramaCommentsArea;User Id=sa5;Password=sa5;MultipleActiveResultSets=true;Connect Timeout=15;Max Pool Size=100;Application Name=DramasCommentsAreaDemo" />
  </connectionStrings>
</configuration>